<div class="col-lg-3 d-flex align-items-lg-stretch">
  <div class="card mb-2 p-1">
    <a href="{{ path('recette_show', {'slug': recette.slug}) }}">
      <div>
      {% if recette.cover is not null %}
        <img class="img-thumbnail" src="{{ recette.cover }}" alt="Card image cap">
      {% else %}
        <img class="img-thumbnail" src="{{ asset('images/recettes/'~recette.getImage) }}" alt="Card image cap">
      {% endif %}
  </div>
    </a>
    <div class="card-body">
      <div class="row">

          <a href="{{ path('recette_show', {'slug': recette.slug}) }}">
            <h5 class="card-title text-dark">{{ recette.title }}</h5>
          </a>
        <br>


          <div class="text-center">
            {% if recette.comments|length > 0 %}
              {% include 'partiels/rating.html.twig' with {'note': recette.moyenneDesNotes} %}
            {% endif %}
          </div>

      </div>

      <ul class="list-group list-group-flush">
        {% if recette.categorie is not null %}
          <li class="list-group-item">
            <strong> {{ recette.categorie.title }}</strong>
          </li>
        {% endif %}
        <li class="list-group-item">Difficulté : {{ recette.difficulte }}</li>

        <li class="list-group-item">Auteur : {{ recette.author.surnom }}</li>
      </ul>
      <div class="row mt-2 p-2 justify-content-lg-around">
        {% if app.user == recette.author %}
          <a href="{{ path('recette_edit', {'slug': recette.slug}) }}" class="btn btn-outline-secondary">Modifier</a>
          {{ include('recette/_delete_form.html.twig') }}
        {% endif %}
        <a href="{{ path('recette_show', {'slug': recette.slug}) }}" class="btn btn-outline-dark"><i
                  class="fa fa-eye" aria-hidden="true"></i> Consulter</a>
      </div>
    </div>
  </div>
</div>