
<div class="header haut">

  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">WikiCook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">


      <div class="dropdown">
        <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Recettes
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ path('recette_index') }}" class="dropdown-item">Toutes</a>
          </li>
          <div class="dropdown-divider"></div>

          {% for categorie in categories %}
            <li>
              <a href="{{ path('categorie_show', {'id': categorie.id}) }}"
                 class="dropdown-item">{{ categorie.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ml-md-5">
        <form class="form-inline my-2 my-lg-0">
          <div class="search">
            <a href="{{ url('search_advanced') }}">
              <i class="fas fa-search text-white"></i>
            </a>
          </div>

        </form>
      </div>
      <ul class="navbar-nav ml-auto">
        {% if app.user %}
          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdown">
              <img class="rounded-circle avatarMini" src="{{ asset('images/userImage/'~app.user.picture) }}"
                   alt="avatar de {{ app.user.surnom }}">
              {{ app.user.surnom }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
              <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
              <a href="{{ path('account_profil') }}" class="dropdown-item">Modifier</a>
              <div class="dropdown-divider"></div>
              <a href="{{ path('recette_new') }}" class="dropdown-item">Nouvelle recette</a>
              <div class="dropdown-divider"></div>
              <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
            </div>

          </li>
        {% else %}
          <li class="nav-item">
            <a href="{{ path('account_register') }}" class="nav-link">S'inscrire</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('account_login') }}" class="nav-link">Connexion
              <i class="fa fa-sign-in" aria-hidden="true"> </i></a>
          </li>
        {% endif %}
      </ul>

    </div>

  </nav>

  {% for label, messages in app.flashes %}
  <div class="container">
<div class="row">
  <div class="col-lg-3">&nbsp;</div>

    <div class="col-lg-9">
    <div class="alert alert-{{ label }} col-lg-10">
      {% for message in messages %}
        <p class="text-center text-dark font-weight-bold">{{ message | raw }}</p>
      {% endfor %}
    </div>
    </div>
</div>
  </div>
</div>
  {% endfor %}

