{% extends 'base.html.twig' %}

{% block title %}{{ recette.title }}{% endblock %}

{% block body %}
  <div class="container">

    <div class="col-lg-10">
      <h1 class="text-center p-lg-5">{{ recette.title }}</h1>

      <div class="row bg-light">
        <div class="col-lg-6 align-items-center d-flex">
          <img src="{{ recette.cover }}" class="img-thumbnail img-fluid" alt="Image principale">
        </div>
        <div class="col-lg-6 p-5">

          <table class="table">
            <thead>
            <tr>
              <th scope="col">ingrédients</th>

            </tr>
            </thead>

            <tbody>
            {% for ingredient in ingredients %}
              <tr>
                <td>{{ ingredient.title }}</td>

              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

    <br>
    <div class="row bg-secondary rounded">
      {% if recette.categorie is not null %}
      <div class="col-3 text-white text-center">{{ recette.categorie.title }}</div>
      {% endif %}
      <div class="col-3 text-white text-center">Difficulté : {{ recette.difficulte }}</div>
      <div class="col-3 text-white text-center">Durée : {{ recette.id }} minutes</div>

      <div class="col-3 text-white text-center">Pour {{recette.nombre}} personnes</div>
    </div>
    <br>

    <div class="row bg-light p-lg-5">
      <ol>
        {% for etape in etapes %}
          <li class="m-lg-3">{{ etape.description }}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
  </div>

  <a href="{{ path('recette_index') }}">back to list</a>

  <a href="{{ path('recette_edit', {'slug': recette.slug}) }}">edit</a>

  {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
